---
import GithubStats from "@/components/React/GithubStats";
const aboutText =
  "Hello, my name is Iqbal Muthahhary. I reside in Bogor, West Java, Indonesia, and I have extensive experience in front-end web development, particularly with technologies such as React Js, Next Js, and Astro Js. I am currently a third-semester computer science student at Pamulang University.";
---

<section class="pt-24 w-full section-about pb-24" id="about">
  <article class="flex flex-col gap-3 container max-w-7xl py-7">
    <div class="overflow-hidden flex justify-center lg:gap-2 gap-1">
      <h1 class="font-bold lg:text-7xl md:text-6xl text-2xl title-about">
        ABOUT
      </h1>
      <h1 class="font-bold lg:text-7xl md:text-4xl text-2xl title-about">ME</h1>
    </div>
    <div class="mt-6">
      <div class="overflow-hidden flex flex-wrap gap-1 lg:gap-3 w-full">
        {
          aboutText
            .split(" ")
            .map((word) => (
              <h1 class="font-bold lg:text-4xl md:text-2xl text-xl text-about text-center leading-loose">
                {word}
              </h1>
            ))
        }
      </div>
    </div>
    <div class="mt-6 lg:overflow-hidden w-fit max-w-full">
      <div
        class="p-4 rounded-lg github-stats bg-gradient-to-b to-slate-50 from-sky-300"
      >
        <GithubStats client:only />
      </div>
    </div>
  </article>
</section>
