<div class="overflow-hidden bg-gradient-to-t from-slate-50 to-sky-300">
  <div class="slider-text whitespace-nowrap flex gap-x-36">
    <p class="text-1 m-0 text-9xl font-bold pl-16">Front-End Developer</p>
    <p class="text-2 m-0 text-9xl font-bold">Front-End Developer</p>
    <p class="text-2 m-0 text-9xl font-bold">Front-End Developer</p>
  </div>
</div>
