---
import { Image } from "astro:assets";
---

<section
  class="w-full overflow-hidden pt-6 section-parallax lg:h-[230dvh] md:h-[200dvh] h-[150dvh] relative"
>
  <Image
    src={"/projectParallax/balmed-tablet.png"}
    alt={"Balmed"}
    width={350}
    height={350}
    loading={"eager"}
    class="absolute z-[1] left-5 top-36 first-parallax rounded-md lg:w-[350px] lg:h-[350px] md:w-[250px] md:h-[250px] w-[200px] h-[200px]"
    format="webp"
  />
  <Image
    src={"/projectParallax/bshopp-tablet.png"}
    alt={"Balmed"}
    width={450}
    height={450}
    loading={"eager"}
    class="absolute z-[4] md:right-5 right-2 md:top-44 top-64 second-parallax rounded-md lg:w-[450px] lg:h-[450px] md:w-[350px] md:h-[350px] w-[250px] h-[250px]"
    format="webp"
  />
  <Image
    src={"/projectParallax/movie-astro-laptop.png"}
    alt={"Movie"}
    width={700}
    height={700}
    loading={"eager"}
    class="main-parallax z-[5] absolute top-96 left-1/2 object-fill object-center -translate-x-[50%] rounded-md lg:w-[700px] lg:h-[700px] md:w-[450px] md:h-[450px] w-[250px] h-[250px]"
    format="webp"
  />
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/all";

  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: ".section-parallax",
      scrub: 1,
      start: "top end",
      end: "bottom start",
    },
  });

  gsap.matchMedia().add("(min-width: 1024px)", () => {
    tl.to(".main-parallax", {
      scale: 4,
      duration: 10.5,
      y: 10,
      width: "100%",
      objectFit: "fill",
    });
  });

  gsap.matchMedia().add("(max-width: 1023px)", () => {
    tl.to(".main-parallax", {
      scale: 4,
      y: 50,
      duration: 10.5,
      width: "100%",
      height: "100%",
    });
  });

  gsap.to(".first-parallax", {
    scale: 3,
    y: 50,
    duration: 5,
    scrollTrigger: {
      trigger: ".section-parallax",
      start: "top endr",
      end: "bottom center",
      scrub: 1,
    },
  });

  gsap.to(".second-parallax", {
    scale: 2.7,
    duration: 6.5,
    scrollTrigger: {
      trigger: ".section-parallax",
      start: "top end",
      end: "bottom center",
      scrub: 1,
    },
  });
</script>
