---
import { Image } from "astro:assets";
---

<section
  class="w-full overflow-hidden pt-6 section-parallax lg:h-[280dvh] md:h-[200dvh] h-[190dvh] relative"
>
  <Image
    src={"/projectParallax/balmed-tablet.png"}
    alt={"Balmed"}
    width={350}
    height={350}
    loading={"eager"}
    class="absolute z-[1] md:left-5 md:top-36 left-2 top-20 first-parallax rounded-md object-cover object-center lg:w-[450px] lg:h-[450px] md:w-[250px] md:h-[250px] w-[200px] h-[200px]"
    format="webp"
  />
  <Image
    src={"/projectParallax/m-class-tablet.png"}
    alt={"Mclass"}
    width={450}
    height={450}
    loading={"eager"}
    class="absolute z-[4] md:right-5 right-2 md:top-44 top-32 second-parallax object-cover objecy-center rounded-md lg:w-[450px] lg:h-[450px] md:w-[350px] md:h-[350px] w-[250px] h-[250px]"
    format="webp"
  />
  <Image
    src={"/projectParallax/movie-astro-laptop.png"}
    alt={"Movie"}
    width={700}
    height={700}
    loading={"eager"}
    class="main-parallax z-[5] absolute md:top-72 top-80 left-1/2 object-cover object-center -translate-x-[50%] rounded-md lg:w-[700px] lg:h-[700px] md:w-[450px] md:h-[450px] w-[250px] h-[250px]"
    format="webp"
  />
</section>
