<footer
  class="w-full relative lg:h-[600px] h-[800px]"
  style="clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);"
>
  <div
    class="relative lg:h-[calc(100vh+600px)] h-[calc(100vh+600px)] -top-[100vh]"
  >
    <div
      class="lg:h-[600px] h-[800px] sticky lg:top-[calc(100vh-600px)] top-[calc(100vh+800px)] bg-gradient-to-b from-slate-950 to-white"
    >
      <div class="py-8 px-12 h-full w-full flex flex-col justify-between">
        <div
          class="flex shrink-0 gap-36 text-white lg:text-2xl md:text-xl text-lg"
        >
          <div class="flex flex-col gap-2">
            <h3 class="mb-2 uppercase">Home</h3>
            <p>About</p>
            <p>Projects</p>
            <p>Contact Us</p>
          </div>
          <div class="flex flex-col gap-2">
            <h3 class="mb-2 uppercase">Developer</h3>
            <p>Iqbal Muthahhary</p>
            <a
              href="https://instagram.com/muthahhary_iqbal?igshid=MzNlNGNkZWQ4Mg=="
              target="_blank"
              rel="noopener noreferrer">Instagram</a
            >
            <a
              href="https://github.com/Ibaliqbal"
              target="_blank"
              rel="noopener noreferrer">Github</a
            >
          </div>
        </div>
        <div class="flex justify-between items-end">
          <h1
            class="lg:text-[10vw] md:text-[8vw] text-[6vw] leading-[0.8] mt-10"
          >
            Iqbal Muthahhary
          </h1>
        </div>
      </div>
    </div>
  </div>
</footer>
