<footer class="bg-gradient-to-b from-[#020617] to-slate-700 text-white">
  <section class="container max-w-9xl py-7 flex gap-28">
    <div>
      <h2 class="font-bold text-2xl">Navigation</h2>
      <ul class="flex flex-col gap-2 mt-3 text-xl">
        <li class="backToTop">Home</li>
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
      </ul>
    </div>
    <div>
      <h2 class="font-bold text-2xl">Developer</h2>
      <ul class="flex flex-col gap-2 mt-3 text-xl">
        <li>
          <a
            href="https://instagram.com/muthahhary_iqbal?igshid=MzNlNGNkZWQ4Mg=="
            target="_blank"
            rel="noopener noreferrer">Iqbal Muthahhary</a
          >
        </li>
        <li>
          <a
            href="https://github.com/Ibaliqbal"
            target="_blank"
            rel="noopener noreferrer">Github</a
          >
        </li>
        <li>
          <a
            href="https://instagram.com/muthahhary_iqbal?igshid=MzNlNGNkZWQ4Mg=="
            target="_blank"
            rel="noopener noreferrer">Instagram</a
          >
        </li>
        <li>
          <a
            href="https://linkedin.com/in/iqbal-muthahhary-muthahhary-5120b6278"
            target="_blank"
            rel="noopener noreferrer">Linkedin</a
          >
        </li>
      </ul>
    </div>
  </section>
</footer>

<script>
  document.querySelector(".backToTop")?.addEventListener("click", () => {
    scrollTo({
      top: 0,
    });
  });
</script>
