---
import { ViewTransitions } from "astro:transitions";
import NavbarResponsive from "@/components/React/Navbar/NavbarResponsive";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Personal website iqbal muthahhary" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="keyword"
      content="Atro, Reac, Tailwind, Iqbal Mutahhary, Iqbal, Personal Website, Portofolio, GSAP, Framer Motion"
    />
    <meta name="author" content="Iqbal Muthahhary" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    /><link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body transition:animate="none">
    <NavbarResponsive client:only />
    <main class="">
      <slot />
    </main>
    <style>
      body::-webkit-scrollbar {
        width: 8px;
      }

      body::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      body::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
      }

      body::-webkit-scrollbar-thumb:hover {
        background: #555; /* Color of the scrollbar thumb on hover */
      }

      *,
      html,
      body {
        font-family: "DM Serif Display", serif;
        font-weight: 500;
        font-style: normal;
        scroll-behavior: smooth;
      }

      html.lenis,
      html.lenis body {
        height: auto;
      }

      .lenis.lenis-smooth {
        scroll-behavior: auto !important;
      }

      .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
      }

      .lenis.lenis-stopped {
        overflow: hidden;
      }

      .lenis.lenis-smooth iframe {
        pointer-events: none;
      }
    </style>
  </body>
</html>
